# Django y dependencias principales
Django==6.0.7
djangorestframework==3.17.1
django-cors-headers==4.9.0

# Manejo de imágenes
Pillow==12.3.0

# Servidor WSGI para producción
gunicorn==22.0.0

# Base de datos (opcional para PostgreSQL)
# psycopg2-binary==2.9.9

# Autenticación JWT
djangorestframework-simplejwt==5.3.1

# Variables de entorno
python-dotenv==1.0.1

# Para producción (opcional)
whitenoise==6.6.0
